<!-- <mat-progress-bar mode="indeterminate" *ngIf="loaderService.isLoading | async"></mat-progress-bar> -->
<div class="loader" *ngIf="loader">
    <div class="loading">
        <img src="../../../../assets/loaderlogo/watermark_logo.gif" alt="">
    </div>
</div>
<div class="change-pass">

    <div class="update-form-head">
        <span>
            {{pageTitle}}
        </span>
    </div>
    <form [formGroup]="updatePasswordForm" action="" class="update-form">

        <div class="input-group mb-3">
            <label for="">Current Password</label>
            <input formControlName="currentPassword" appAutofocus type="text" class="form-control" placeholder="Enter Current Password" aria-label="Enter Email Id" aria-describedby="basic-addon1" [ngClass]="{'is-invalid' : createUpdatePasswordFormFormControls.currentPassword.invalid && (createUpdatePasswordFormFormControls.currentPassword.dirty || createUpdatePasswordFormFormControls.currentPassword.touched)}">
            <div class="invalid-tooltip" *ngIf="createUpdatePasswordFormFormControls.currentPassword.invalid && (createUpdatePasswordFormFormControls.currentPassword.dirty || createUpdatePasswordFormFormControls.currentPassword.touched)">
                Please enter Current Password
            </div>
        </div>
        <div class="input-group mb-3">
            <label for="">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control" placeholder="Enter New Password" aria-label="Enter Email Id" aria-describedby="basic-addon1" [ngClass]="{'is-invalid' : createUpdatePasswordFormFormControls.newPassword.invalid && (createUpdatePasswordFormFormControls.newPassword.dirty || createUpdatePasswordFormFormControls.newPassword.touched)}">
            <div class="invalid-tooltip" *ngIf="createUpdatePasswordFormFormControls.newPassword.invalid && (createUpdatePasswordFormFormControls.newPassword.dirty || createUpdatePasswordFormFormControls.newPassword.touched)">
                Please enter New Password
            </div>
        </div>
        <div class="input-group mb-3">
            <label for="">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Enter Confirm Password" aria-label="Enter Email Id" aria-describedby="basic-addon1" [ngClass]="{'is-invalid' : createUpdatePasswordFormFormControls.confirmPassword.invalid && (createUpdatePasswordFormFormControls.confirmPassword.dirty || createUpdatePasswordFormFormControls.confirmPassword.touched)}">

            <div class="invalid-tooltip" *ngIf="createUpdatePasswordFormFormControls.confirmPassword.invalid && (createUpdatePasswordFormFormControls.confirmPassword.dirty || createUpdatePasswordFormFormControls.confirmPassword.touched)">
                <span *ngIf="createUpdatePasswordFormFormControls.confirmPassword.errors.required "> Please enter
                    Confirm Password.</span>
                <span *ngIf="createUpdatePasswordFormFormControls.confirmPassword.errors.confirmedValidator">Password
                    and Confirm password does not match.</span>
            </div>
        </div>
        <div class="change-pass-title">
            <p>** Please note, an OTP will be sent to your Mobile No. & Email Id before changing your password.</p>
        </div>
        <div class="submit">
            <button type="submit" [disabled]="updatePasswordForm.invalid" (click)="openModal(templateCountryMaster)"><span>Send OTP</span></button>
        </div>
    </form>
</div>

<ng-template #templateCountryMaster>
    <!-- <div class="loader loader2 " *ngIf="loaderService.isModelPopUpLoading | async">
      <div class="spinner spinner2">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
  </div> -->
    <div class="country-edit-model">
        <div class="model-header">
            <h1 mat-dialog-title>{{ModalTitle}}</h1>
            <button type="button" class="close-btn pull-right" aria-label="Close" (click)="modalRef.hide()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div mat-dialog-content>
            <div class="country-form">
                <div class="send-otp">
                    <div class="otp-alrt">We have sent you an OTP on</div>
                    <div><span>{{mobileNo}}</span><span *ngIf="mobileNo!='' && emailId!=''" style="margin: 0 5px;">and</span>{{emailId}}<span></span></div>
                    <div class="input-group ">
                        <label for="">Enter OTP</label>
                        <input appAutofocus (keyup)="onKeyUpEvent($event)" type="number" class="form-control" placeholder="Please enter 4 digits OTP here to verify" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <span class="counter">{{countDownTimer}}</span>
                    <div class="resend-otp">
                        <span>Still not received OTP?</span>
                        <button (click)="resendOtp()" [disabled]="resendOtpBtnDisabled" type="button" class="resend">Resend OTP</button>
                    </div>
                    <div class="submit addMamber" *ngIf="otpVerified"> <button (click)="updatePassword()" class="btn btn-primary" type="button">Update</button></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>