@import '../update-email/update-email.component.scss';
@import '../setting.component.scss';
.change-pass{
    position: relative;
}

.submit{
    button{
        &:disabled{
            background: #ccc !important;
            cursor:not-allowed;
        }
    }
}
