<header>
    <div class="main_headeer">
        <div class="container-xl">
            <div class="top_header">
                <div class="left_header"><a routerLink="/home"><img src="../../../assets/images/bottom text logo.png"
                            alt=""></a></div>
                <div class="right_header">
                    <ul>
                        <li><a routerLink="home">Home</a></li>
                        <!-- <li><a href="#">About Us</a></li> -->
                        <li><a routerLink="/contact-us">Contact Us</a></li>
                        <li>
                            <div>
                                <button class="log-in-buton" (click)="openModal(templateLoginMaster)">
                                    Login
                                </button>
                            </div>
                        </li>
                        <li style="position: relative;">
                            <span class="signup_link" (click)="toggle_nav()" *ngIf="!toggle_nav_list" >
                                Signup
                            </span>
                            <span class="signup_link" (click)="toggle_nav()" *ngIf="toggle_nav_list">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                            </span>
                            <ul class="custm-selet" *ngIf="toggle_nav_list">
                                <li (click)="openDriverSignup(driversignup)">Driver's Signup</li>
                                <li (click)="openCstomersignup(customersignup)">Customer's Signup</li>
                            </ul>
                        </li>
                        <li>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ng-template #templateLoginMaster>
        <form *ngIf="!isOtpReceived" [formGroup]="userLoginForm" (ngSubmit)="onSubmitUserLoginForm()" [@fade]>
            <div class="modal-container">
                <div class="model-header">
                    <div></div>
                    <div class="close-btn">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="head-title">
                    <div class="title">
                        <h1 class="modal-title pull-left" mat-dialog-title>{{ModalTitle}}</h1>

                    </div>
                </div>

                <div mat-dialog-content>
                    <div class="model-body">
                        <div>
                            <div class="ma-input">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Mobile Number</mat-label>
                                    <mat-icon matSuffix>email</mat-icon>
                                    <input matInput formControlName="vMobileNo" placeholder="Enter Mobile Number"
                                        type="text">
                                </mat-form-field>
                            </div>

                            <div class="ma-input" *ngIf="!passwordHide">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="vPassword" style="width: 80%;" matInput
                                        placeholder="Enter Password" type="{{pass}}">
                                    <mat-icon (click)="eyeIconLogin('show')" *ngIf="eye" matSuffix>visibility</mat-icon>
                                    <mat-icon (click)="eyeIconLogin('hide')" *ngIf="!eye" matSuffix>visibility_off
                                    </mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="forgot" [ngClass]="{'marginBottum': passwordHide}">

                                <div class="forgot-remember">
                                    <div class="form-check">
                                        <input formControlName="btRememberMe" [(ngModel)]="isRememberMe"
                                            class="form-check-input" type="checkbox" id="flexCheckDefault1">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Remember me
                                        </label>
                                        <!-- <a class="forget-pasword" >Forget Password</a> -->
                                    </div>
                                    <span *ngIf="!passwordHide">
                                        <button style="background-color: #fff; border: none ">Forgot Password?</button>
                                    </span>
                                </div>

                                <div class="form-check" (change)="onCheckboxChange($event)">
                                    <input formControlName="btLoginWithOtp" class="form-check-input" type="checkbox"
                                        value="" id="flexCheckDefault2">
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        Login with OTP instead of password
                                    </label>
                                </div>

                            </div>

                            <div *ngIf='isOtpLogin'>
                                <div style="font-size: 13px;color: #000;">Where do you want the OTP?</div>

                                <div class="form-check">
                                    <input formControlName="vMobileNo" class="form-check-input" type="checkbox"
                                        name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Mobile Number
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input formControlName="vEmailId" class="form-check-input" type="checkbox"
                                        name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Email
                                    </label>
                                </div>

                                <div class="send-otp-btn">
                                    <button
                                        style="background-color:#1ce1ee; width: 100%;padding: 8px 12px;height: 40px;border-radius: 8px;font-size: 18px;color: #fff;font-weight: 600;border: none;"
                                        type="button">
                                        Send OTP
                                    </button>
                                </div>
                            </div>

                        </div>

                        <div *ngIf="!passwordHide" class="log-in-btn">
                            <button [disabled]="userLoginForm.invalid" class="enable-btn-gray" type="button">
                                Login
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </ng-template>
    <ng-template #driversignup>
        <div class="modal-container">
            <div class="model-header">
                <div></div>
                <div class="close-btn">
                    <button type="button" class="close pull-right" aria-label="Close"
                        (click)="modalRefdriversignup.hide()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

            </div>
            <div class="head-title-driver">
                <div class="title-driver">
                    <h1 style="margin: 0 0 5px;color: #000;" class="modal-title pull-left" mat-dialog-title>
                        {{modeltitledriversignup}}</h1>

                </div>
            </div>

            <div mat-dialog-content>
                <div class="model-body">

                    <app-driver-signup></app-driver-signup>




                </div>
            </div>
        </div>

    </ng-template>


    <!--  customer sign up template below here  -->
    <ng-template #customersignup>

        <div class="modal-container">
            <div class="model-header">
                <div></div>
                <div class="close-btn">
                    <button type="button" class="close pull-right" aria-label="Close"
                        (click)="modalRefcustomersignup.hide()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="head-title">
                <div class="title-signup-customer">
                    <h1 class="modal-title pull-left" mat-dialog-title>{{modaltitlecustomersignup}}</h1>
                </div>
            </div>

            <div mat-dialog-content>
                <div class="model-body">
                    <app-customer-signup></app-customer-signup>
                </div>
            </div>
        </div>


    </ng-template>
    <!-- <div class="second_header">
        <div class="container-lg header_box">
            <div class="left_second_header">
                <ul>
                    <li><a href="">CITY TEMPO</a></li>
                    <li><a href="">PACKERS & MOVERS</a></li>
                    <li><a href="">DRIVER PARTNERS</a></li>
                    <li><a href="">FOR ENTERPRISE</a></li>
                </ul>
            </div>
            <div class="right_second_header">
                <div class="call_us">
                    <span style="margin-right: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                    </span>
                    <span>4410-4410</span>

                </div>
            </div>

        </div>
    </div> -->
</header>
<router-outlet></router-outlet>
<section>
    <div class="pickup">
        <div class="container-lg pickup_wrap_box">
            <div class="left_pickup_box">
                <ul>
                    <li>
                        <div>
                            <h3 class="title_heading">Pickup and drop anywhere within the city</h3>
                            <p class="title">Choose your pickup & drop location from within the city</p>
                        </div>


                    </li>
                    <li>
                        <div style="margin-top: 30px;">
                            <h3 class="title_heading">Real time tracking</h3>
                            <p class="title">Our verified partner will ensure that your goods are transported safely
                                to the destination. You can monitor the trip with live vehicle tracking and regular
                                sms/email updates from our MOBILE APP or TRACK ORDER TOOL.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right_pickup_box">
                <div class="app_img_box">
                    <p class="title">Download the Dossier app on</p>
                    <span class="app_image"><img src="../../assets/images/googleplay.png" alt=""></span>
                    <span class="app_image"><img src="../../assets/images/AppStore-logo-1.png" alt=""></span>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="solutions_box">
        <!-- <div class="background_image_3">
            <img src="../../assets/images/background_2.png" alt="">
        </div> -->
        <div class="container-lg">
            <h2 class="solution_head solution_head_3">
                Payment methods
            </h2>
            <ul class="solution_list_2">
                <li>
                    <div class="list_head">
                        <span class="list_number">1</span>
                    </div>
                    <div class="list_details">
                        <div class="list_icon">
                            <img src="../../assets/images/cash.png" alt="">
                        </div>
                        <p class="list_icon_text">cash</p>
                    </div>
                </li>
                <li>
                    <div class="list_head"><span class="list_number">2</span></div>
                    <div class="list_details">
                        <div class="list_icon">
                            <img src="../../assets/images/onlinepay.png" alt="">
                        </div>
                        <p class="list_icon_text">Online Payment</p>
                    </div>
                </li>

            </ul>
        </div>
        <!-- <div class="background_image_4">
            <img src="../../assets/images/background_circule.jpg" alt="">
        </div> -->

    </div>
</section>
<footer>
    <div class="container-lg">
        <div class="footer_logo">
            <a href="index.html"><b>Dossier</b></a>
        </div>
        <div class="footer_links">
            <!-- <ul>
                    <span>Company</span>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Blog</a></li>
                </ul> -->
            <!-- <ul>
                <span>Services</span>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Terms and Condition</a></li>
                <li><a href="">Contact Us</a></li>
            </ul> -->
            <ul>
                <span>Support</span>
                <li><a routerLink="/contact-us">Contact Us</a></li>
                <li><a routerLink="/privacypolicy">Privacy policy</a></li>
                <li><a href="" routerLink="/termsandcondition">Terms and Condition</a></li>
                <li><a href="" routerLink="/faqs">FAQs</a></li>
            </ul>
            <ul>
                <li><a href=""><span class="app_image"><img src="../../assets/images/googleplay.png" alt=""></span></a>
                </li>
                <li><a href=""><span class="app_image"><img src="../../assets/images/AppStore-logo-1.png"
                                alt=""></span></a></li>
            </ul>

        </div>

    </div>
    <div class="copyright">
        <p>&#169; 2022 Dossier Courier PVT. LTD.</p>
    </div>
</footer>