<section>
    <div class="container-xl">
        <div class="contact_us_heading">
            <h1>Contact Us</h1>
            <!-- <p>If there are any questions regarding this privacy policy or if you wish to report a breach of the Privacy
                Policy, you may contact us using the information on the support page.</p> -->
        </div>
        <div class="contact_us_details">
            <!-- <div class="contact_us_box">
                <h2>GRIEVANCE OFFICER</h2>
                <p>In accordance with the Information Technology Act, 2000 (including amendments there to) and rules
                    made there under, the Contact details of the Grievance Officer are provided below:</p>
                <p>Legal Team,</p>
                <p>Dossier Courier Pvt. Ltd.</p>
                <p> D-46, F.F, Complex Road, Jhandewalan,</p>
                <p> New Delhi - 110055, India </p>
                <p> Email Id: <a href="mailto:admin@dossierexpress.com">admin@dossierexpress.com </a></p>
                <p> Time: Monday to Friday (10 a.m. to 6 p.m.)</p>
            </div> -->
            <div class="contact_us_box">
                <h2>CONTACT US</h2>
                <p> Dossier Courier Pvt. Ltd.</p>
                <p> D-46, F.F, Complex Road, Jhandewalan, </p>
                <p> New Delhi - 110055, India.</p>
                <p> Mobile Nos: +91-9811665965 / +91-981139344 / +91-7827043008 </p>
                <p> Email Id: <a href="mailto:admin@dossierexpress.com">admin@dossierexpress.com </a></p>
                <p> Time: Monday to Friday (10 a.m. to 6 p.m.)</p>

            </div>
        </div>
    </div>
</section>