.new-table {
    table {
        border: 0.5px solid #258ec4;

        tr {
            th {
                font-size: 12px;
                background: #258ec4;
                border-bottom: none;
                color: #fff;
                text-align: center;
            }

            td {
                font-size: 11px;
                border-bottom: none;
                text-align: center;
            }
        }
    }
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}

::ng-deep .mat-form-field-appearance-fill {
    .mat-form-field-flex {
        padding: 0px 21px !important;
        background-color: #fff;
        border: 0.5px solid #ccc;
        border-radius: 5px !important;

        .mat-form-field-infix {
            padding: .25em 0 10px 0;
        }
    }
}

::ng-deep .mat-form-field {
    width: 92%;
    @media screen and (max-width: 480px) {
        width: 100% !important;
    }
    .mat-form-field-wrapper .mat-form-field-flex {
        padding: 0px 12px !important;
        .mat-icon-button {
                top: 4px;
            }
    }


}

// ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
//     top: 4px;
// }
.input-box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    .input-group {
        input {
            font-size: 12px;
        }
    }

    .input-group-1 {
        width: 31%;
        @media screen and (max-width: 480px) {
            width: 100% !important;
            margin-bottom: 10px;
        }
        label {
            display: block;
            font-size: 12px;
            margin-bottom: 5px;
            width: 100%;
        }

        input[type="text"] {
            width: 70%;
            border: 0.5px solid #258ec4;
            height: auto;
            font-size: 12px;
            padding: 8px 10px;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        input[type="button"] {
            width: 30%;
            background: #258ec4;
            border: navajowhite;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            padding: 0 10px;
            color: #fff;
        }
    }
}

.input-group-2 {
    bottom: 28px;
}

.medical-record {
    padding-top: 12px;

}

.mat-divider {
    margin-top: 2px;
    margin-bottom: 12px;
}
mat-form-field {
    border: none;
    padding: 0;
  
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}