<section>
    <div class="container-lg terms_box">
        <div class="terms_head">
            <h1>About Us</h1>
        </div>
       
        <div class="term_details">
            <p> We DOSSIER take this opportunity to introduce ourselves one of the leading Messenger / Intra
                City Urgent service providers for the Pickup & Delivery of valuable documents on call basis
                services for the past 22 years to our many customers like, SOTC Business/Leisure Travels, BCD
                Travels, American Express GBT Travel Division & Card Division etc.</p>
            <p> Dossier is fully compliance Company. We provide PAN INDIA services, and our operation is
                fully equipped at Mumbai, Chennai, Bangalore, Hyderabad, Pune, Cochin, Trivandrum and
                Delhi NCR locations. We hereby mention our company profile for your record/reference.</p>
            <p style="margin-bottom: 0;"><b>Name:</b> Dossier Courier Pvt. Ltd.,</p>
            <p><b> Address:</b> D-46, F.F. Complex, Jhandewalan, New Delhi-110055. India</p>
            <p style="margin-bottom: 0;"><b style="font-size: 13px;">Contact Persons:</b><br>
               <span style="font-size: 13px;">Sunil Shukla</span> 
                <br>Mobile No.: +91-9811665965
                <br>Email Id: <a href="mailto:skshukla@dossierexpress.com" style="font-size: 12px;">skshukla@dossierexpress.com</a>
            </p>
            <p><span style="font-size: 13px;margin-top: 10px;display: inline-flex;">B. Ganesh</span>
                <br> Mobile No.: +91-9811319344 
                <br>Email Id: <a href="mailto:ganesh@dossierexpress.com" style="font-size: 12px;">ganesh@dossierexpress.com</a></p>
            <p style="margin-bottom: 0;"> <b>Helpline Number:</b>+91 9810314826</p>
            <p style="margin-bottom: 0;"><b> PAN No:</b> AABCD4347H</p>
            <p style="margin-bottom: 0;"><b> GST No:</b> 07AABCD4347H1ZS</p>
            <p style="margin-bottom: 0;"><b>Certificate of Incorporation No:</b> U63013DL1999PTC101412</p>
            <p> <b>Date of incorporation:</b> 02/09/1999</p>
            <p style="margin-bottom: 0;"> <b>PF & ESI compliance.</b></p>
            <p style="margin-bottom: 0;"><b> ESI Regd. No.:</b> 11001234670000999</p>
            <p style="margin-bottom: 0;"><b>PF Regd. No.:</b> DLCPM1562560000</p>
            <p style="margin-bottom: 0;"><b>DIN No:</b> 00969173 - Sunil Shukla</p>
            <p ><b>DIN No:</b> 00996874 - B.Ganesh</p>
            <p style="margin-bottom: 0;"><b>Our Bank:</b><br> Canara Bank Ltd. , Rani Jhansi Road Jhandewalan,</p>
            <p> A/c No. CA 90231010005578, IFSC Code: CNRB0019023</p>
            <p style="margin-bottom: 0;"><b>Mail:</b> <a href="mailto:dossierdcpl@gmail.com"> dossierdcpl@gmail.com</a></p>
            <p> <b>Website:</b> <a href="https://dossierexpress.com"> www.dossierexpress.com</a></p>
            <p> Regarding our Business Continuity Plan - We have alternate resources available to take care of
                the key positions. In case of contingency, we have alternate office space available. We keep the
                business data backup/stored at a place different from present office.</p>
            <p style="margin-bottom: 0;">Warm Regards,</p>
            <p style="margin-bottom: 0; font-size: 14px;"><b>Dossier Courier Pvt. Ltd.</b></p>
            <p style="margin-bottom: 0;"> B. Ganesh & Sunil Shukla</p>
            <p style="text-align: center;width:13%;"><b>Directors</b></p>
        </div>
    </div>
</section>