<section>

    <div class="container-xl">
        <div class="faqs_header">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class="faqs_list">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is Dossier APP?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Dossier is an APP based bike booking service which can be easily downloaded from the APP store.
                        You have to just log in, choose your source & destination, and book. Get a verified driver and
                        vehicle with an ETA of max.15-20 minutes.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How do I book a bike online from Dossier?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Dossier is an APP that offers reasonable and trustworthy delivery facilities.
                        Steps to rent a vehicle:
                    </p>
                    <ul>
                        <li> Sign in to the Dossier APP via your mobile number.</li>
                        <li> Setup your source and destination location.</li>
                        <li> Enter a few additional details and confirm your booking.</li>
                        <li> Get a verified driver and vehicle with an ETA of max.15-20 minutes</li>

                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Does Dossier provide intercity or interstate service?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Yes. The intercity & interstate service permits you to deliver goods anywhere within 60 km radius from the source location.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Does Dossier offer labour service for loading/unloading?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Yes. You can use the designated driver for loading/unloading the goods up to 20 KGs
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                           What are charges for a bike delivery service?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>We have two slabs based on kilometres travelled.  
                    </p>
                    <ul>
                        <li> 0 – 35 KMs</li>
                        <li> 36 – 60 KMs</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Does Dossier provide Packers and Movers services?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>NA  
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Does Dossier deliver electronic items?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Yes, we conveniently deliver all electronic items with utmost care along with other items as mentioned in the website up to 20 KGs with specified dimensions of the package.  
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How long does it take to deliver?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>The distance & stream of traffic plays a foremost role in determining the delivery time, but we guarantee you the same day delivery.  
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
</section>