
.terms_box {
    padding: 30px 15px;
    background: rgba(162, 177, 252, 0.3);
}

.terms_head h1 {
    font-size: 28px;
    text-align: center;
}

.term_details p {
    font-size: 12px;
}
.policy_heading{
    font-size: 15px;
    font-weight: 500;
}
ul{
    padding-left: 12px;
    li{
        font-size: 13px;
        list-style: disc;
    }
}
.policy_list_heading{
    font-size: 13px;
    font-weight: 500;
}
