<!-- <div class="loader" *ngIf="loader">
    <div class="loading">
        <img  src="../../../../assets/loaderlogo/watermark_logo.gif" alt="">
    </div>
</div> -->
<!-- <div class="family-head">
    <span>{{pageTitle}}</span>
</div>
<mat-divider></mat-divider> -->
<div class="loader" *ngIf="loader">
    <div class="center-loader">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="country-table">
    <table datatable class="ui celled table table-striped dt-responsive nowrap " style="width:100%"
        [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th class="no-sort" style="background-image: none !important;">#</th>
                <th class="no-sort" style="background-image: none !important;">Customer Id</th> 
                <th class="no-sort" style="background-image: none !important;">Full Name</th>
                <th class="no-sort" style="background-image: none !important;">Mobile No.</th>
                <th class="no-sort" style="background-image: none !important;">Email Id</th>
                <th class="no-sort" style="background-image: none !important;">Gender</th>
                <th class="no-sort" style="background-image: none !important;">DOB</th>
               
                <th class="no-sort" style="background-image: none !important;">Address</th>
                <th class="no-sort" style="background-image: none !important;">City Detail</th>
               
                <th class="no-sort" style="background-image: none !important;">Aadhaar No.</th>
                <th class="no-sort" style="background-image: none !important;">Aadhaar File</th>
                <!-- <th class="no-sort" style="background-image: none !important;">Is Active </th> -->
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let items of PatientDetailList; let i = index ">
                <td>{{i+1}}</td>
                <td>{{items.vCId}}</td>
                <td>{{items.vFullName}}</td>
                <td>{{items.vMobileNo}}</td>
                <td>{{items.vEmailId}}</td>
                <td>{{items.vGender}}</td>
                <td>{{items.dtDOB}}</td>
              
                <td>{{items.vAddress}}</td>
                <td>{{items.vCityName}}</td>
                
                <td>{{items.vAadhaarNo}}</td>
                <td><a [href]="imageUrl + '/'+ items.vAadhaarNoFilePath"
                    target="_blank">{{items.vAadhaarNoFilePath}}</a></td>
                <!-- <td><input [checked]=items.btIsActive type="checkbox" [disabled]="disabled"/></td> -->
                
            </tr>
        </tbody>
    </table>
</div>