<section>
    <div class="container-lg terms_box">
        <div class="terms_head">
            <h1>Delivery & Shipping Ploicy</h1>
        </div>
        <div class="term_details">
            <p>
                The customer shall pay the fare (as agreed), parking charges, additional night surcharge (where applicable) and any fee or levy presently payable or hereinafter imposed by the Applicable Law or required to be paid for availing the Services of Dossier.
                
            </p>
            <p>The customer agrees and accepts that the use of the Services provided by the Company is at the sole risk of the Customer, and further acknowledges that the Company disclaims all representations and warranties of any kind, whether express or implied.</p>
           <p>Currently we are operating in following Cities and may extend our services in near future: Delhi NCR, Mumbai, Bangalore, Chennai, Pune, Trivandrum, Cochin, Kolkata and Hyderabad.</p>
            <span class="policy_heading">Rates as Per KMs Range: </span>
            <ul>
                <li>0 to 35: Rs. 375</li>
                <li>36 to 60: Rs. 575</li>
            </ul>
            <p>The customer shall ensure that he/she will not indulge in any of the following activities while availing the service:
            </p>
            <ul>
                <li>Soiling or damaging the body and/or any other interiors of the vehicles.</li>
                <li>Misusing, soiling or damaging any of the devices (technical/non-technical) in the vehicle.</li>
                <li>Asking the driver to break any Traffic/RTO/City Police and/or government rules for any purpose. The driver has the right to refuse such a request by the customer. The driver also has the right to refuse such a pick-up.</li>
                <li>Pressurizing the driver to overload vehicle with the consignment than the allowed limit.</li>
                
            </ul>
            <p>The Customer shall indemnify Company from and against and in respect of any or all liabilities, losses, charges and expenses (including legal fees and costs on a full indemnity basis) claims, demands, actions and proceedings which Company may incur or sustain directly or indirectly from or by any reason of or in relation to the use or proposed use of the Services by the Customer and shall pay such sums on demand on the Company.</p>
            <p>The Company is hereby authorized to use the location based information provided by any of the telecommunication companies when the Customer uses the mobile phone to make a vehicle booking. The location based information will be used only to facilitate and improve the probability of locating a vehicle for the Customer</p>
            <p>The Company shall be entitled to disclose to all companies within its group, or any government body as so required by the Applicable Law or by directive or request from any government body, the particulars of the Customer in the possession of Company in any way as Company, in its absolute discretion, deems fit or if it considers it in its interests to do so.</p>
            <p>The Company shall be entitled at any time without giving any reason to terminate the booking of the vehicle done by the Customer. User(s) shall indemnify Dossier with respect to any expenses incurred with respect to such booking.</p>
            <p>In case of lost items during the transit, Company will try to locate the items on a "best-effort" basis but is not responsible for the same in case of loss or damage or theft or misappropriation to / of the same. Dossier aggregates the vehicles for the purposes of providing Services. In the event of loss of any item, User(s) shall not have any right to withhold the payment to be made to Dossier. Further, in the event any payments from the User to Dossier are pending for the period prescribed by Dossier in its respective invoice / statement, Dossier reserves the right, in accordance with the Applicable Law, to exercise particular lien over the consignment till full payment is made to Dossier for the Services. Additionally, User(s) will be liable to indemnify Dossier against any loss, damage or expenses incurred by it due to the custody of the consignment during this period.</p>
            <p>Any complaint in respect of the Services or the use of the vehicles, the Customer has to inform the Company of the same in writing within 24 hours of using the vehicles or Services of the Company.</p>
            <span class="policy_heading">LABOUR SERVICES</span>
            <p>Dossier provides the option to Customers to utilize Labour Services by clicking on the “Include Labour” toggle on the review screen of the website/App.</p>
            <p>“Labour Services” means that the service provided by the labour wherein labour undertakes the task of loading/unloading the consignment of goods from the loading/unloading point to the vehicle or vice-versa, as the case may be.</p>
            <p>“Labour” means the driver of the vehicle and the person accompanying him in the vehicle.</p>
            <p>By clicking on the “Include Labour” toggle on the review screen of the Website/App or by availing the Labour Services, the Customer agrees to the following terms and conditions. These terms shall be applicable in addition to the terms and conditions applicable to the customers for hiring of vehicles:</p>
            <ul>
                <li>You acknowledge that the Labour Service is provided only for ground floor to ground floor loading/unloading.</li>
                <li>You acknowledge that the ground floor movement (distance between the transport vehicle and the loading/unloading point) shall not exceed 25 metres.</li>
                <li>You acknowledge that the extra charges (as visible in the Invoice) for the Labour Service shall be payable by you.</li>
                <li>You agree that you shall be present in person at the time of loading/unloading of Consignment. If you are not available, an authorised representative must be present.</li>
                <li>You agree that Dossier shall not be liable for misbehaviour of the labour during the loading/unloading. However, you are requested to bring to the notice of Company such incidents. The Company, in its sole discretion, may take action in such matters.</li>
                
            </ul>
            <span class="policy_heading">Delivery Items terms and conditions</span>
            <ul>
               <li>Delivery Time: Within 4 hrs after picking up the order from the customer. Though, due to any unforeseen conditions like bad traffic, bad weather, etc., the order will be delivered to the destination max. Within 12 hours of pickup.</li>
               <li>Only ground floor to ground floor loading/unloading is allowed</li>
               <li>Distance between Dossier vehicle and loading/unloading point should not be more than 25 feet (8 metres).</li>
               <li>Max weight per box allowed is 20 kg and up to 30 such boxes/cartons are allowed. In case of two wheeler, the max. Weight allowed is 20 KGs with dimensions (LxBxH): 40 CMs x 40 CMs x 40 CMs.</li>
               <li>Labour charge will be automatically added to the invoice.

            </ul>
            
            

        </div>
    </div>
</section>