<section>
    <div class="container-lg terms_box">
        <div class="terms_head">
            <h1>Refund and Cancellation Policy</h1>
        </div>
        <div class="term_details">
            <p>Our focus is a complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services you purchase.
            </p>
            <p>In case of dissatisfaction from our services, clients have the liberty to cancel their order and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>
            <span class="policy_heading">Cancellation Policy</span>
           
            <p> Customer can cancel the order at any time before the order has been initiated or completed by the courier partner. Initiation of the order is defined by courier reaching the pickup point in the order schedule. In such cases only partial refund can be provided.</p>
           <p> Completion of the order is defined by courier visiting pick up and at least one delivery location within the order schedule. In such instances refund cannot be initiated.</p>
            <p> For cancellation, customer can use cancellation options in the app or directly from the dashboard of the registered customer account on web portal of the company.</p>
           <p>  For cancellations with help of Customer Support agent please contact us via the numbers / email Id provided below along with the timings. Our specialist will attend Customer requests in working hours within availability waiting period regulated by Customer Support instructions.</p>
            

           <p><b>Mobile Nos:</b> +91-9811665965 / +91-981139344 / +91-7827043008</p> 
           <p><b>Email Id:</b> admin@dossierexpress.com</p>   
           <p><b>Timings:</b> Monday to Friday (10 AM to 6 PM)</p>  
           <p>Cancellations fee will be applicable on the orders which were initiated or fully or partially completed as per following:</p>
            <ul>
               <li>In case the pickup was done by courier or courier has reached pickup address in scheduled for pickup time or in case of courier has reached pick up address prior 30 minutes to scheduled pickup time and contacted the customer to notify courier has reached: the cancellation fee in such cases will be equal to the pickup charges of the scheduled order.</li>
               <li>In case of cash payment for the services the cancellation charges will be debited from Customer DCPL balance in form of credit note and will be applied on next placed by customer order.</li>
               <li>In case of noncash payment mode cancellation charges will be directly debited from Customer DCPL prepaid/post-paid balance and the same will reflect in Customer dashboard and the invoice for the period as a cancellation fee. Fee will be applied on the same order number with DCPL, which was cancelled.</li>

            </ul>
            <span class="policy_heading">Refund Policy</span>
            <ul>
          <li>After confirmation of the investigation team and their positive feedback the refund will be credited either on Customer DCPL balance in form of credit note or directly to Customer bank account within 7 working days, whichever mode is preferred by Customer.</li>
          <li>Liability on goods which are being delivered can be taken by company within the limits of guaranteed amount only and only in case customer has declared the true cost & correct contents of the parcel (guaranteed amount) during order placement on the portal and only if the security fee of 0.85% plus GST from declared cost is paid to the company prior to the order placement. </li>
          <li>Maximum liability within maximum allowed guarantee amount is 45,000 rupees. </li>
          <li>Under no circumstances the customer should place orders with value more than 45,000 rupees without prior written confirmation from the management team of DCPL.</li>
            </ul>
            <p>For any dispute or questions, please contact us.</p>
            

        </div>
    </div>
</section>