<div class="loader" *ngIf="loader">
    <div class="center-loader">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="family-head">
    <span>{{pageTitle}}</span>
</div>
<mat-divider></mat-divider>
<div class="country-model button-spacing">
    <button type="button" class="btn" (click)="openModal(templateCountryMaster)">Add Country</button>

    <ng-template #templateCountryMaster>

        <div class="country-edit-model">
            <div class="model-header">
                <h1 mat-dialog-title>{{ModalTitle}}</h1>

            <button type="button" class="close-btn pull-right" aria-label="Close" (click)="modalRef.hide()">
                <mat-icon>close</mat-icon>
            </button>
          
        </div>
            <mat-divider></mat-divider>
            <div mat-dialog-content>
                <div class="country-form">
                    <form class="country" [formGroup]="countryMasterForm" (ngSubmit)="onSubmitCountryMasterForm()">

                        <div class="input-group">
                            <label for="">Country Name <span style="color: red;">*</span></label>
                            <input name="vCountry" formControlName="vCountryName" appAutofocus CountryAutofocus="true"
                                type="text" class="form-control" placeholder="Country Name" aria-label="Country"
                                aria-describedby="basic-addon1"
                                [ngClass]="{'is-invalid' : createCountryMasterFormControls.vCountryName.invalid && (createCountryMasterFormControls.vCountryName.dirty || createCountryMasterFormControls.vCountryName.touched)}">

                            <div class="invalid-tooltip"
                                *ngIf="createCountryMasterFormControls.vCountryName.invalid && (createCountryMasterFormControls.vCountryName.dirty || createCountryMasterFormControls.vCountryName.touched)">
                                <span *ngIf="createCountryMasterFormControls.vCountryName.errors.required">
                                    Please enter Country Name.
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="">Country Prefix<span style="color: red;">*</span></label>
                            <input name="vCountry" formControlName="vCountryPrefix" CountryAutofocus="true" type="text"
                                class="form-control" placeholder="Country Prefix" aria-label="Country"
                                aria-describedby="basic-addon1"
                                [ngClass]="{'is-invalid' : createCountryMasterFormControls.vCountryPrefix.invalid && (createCountryMasterFormControls.vCountryPrefix.dirty || createCountryMasterFormControls.vCountryPrefix.touched)}">

                            <div class="invalid-tooltip"
                                *ngIf="createCountryMasterFormControls.vCountryPrefix.invalid && (createCountryMasterFormControls.vCountryPrefix.dirty || createCountryMasterFormControls.vCountryPrefix.touched)">
                                <span *ngIf="createCountryMasterFormControls.vCountryPrefix.errors.required">
                                    Please enter Country Prefix
                                </span>
                            </div>
                        </div>
                        <div class="input-group ">
                            <label for="">Country PSTN Code<span style="color: red;">*</span></label>
                            <input name="vCountry" formControlName="vCountryPSTNCode" CountryAutofocus="true"
                                type="text" class="form-control" placeholder="Country PSTN Code" aria-label="Country"
                                aria-describedby="basic-addon1"
                                [ngClass]="{'is-invalid' : createCountryMasterFormControls.vCountryPSTNCode.invalid && (createCountryMasterFormControls.vCountryPSTNCode.dirty || createCountryMasterFormControls.vCountryPSTNCode.touched)}">

                            <div class="invalid-tooltip"
                                *ngIf="createCountryMasterFormControls.vCountryPSTNCode.invalid && (createCountryMasterFormControls.vCountryPSTNCode.dirty || createCountryMasterFormControls.vCountryPSTNCode.touched)">
                                <span *ngIf="createCountryMasterFormControls.vCountryPSTNCode.errors.required">
                                    Please enter Country PSTN Code
                                </span>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="form-check mt-2">
                            <label for="">Is Active</label>
                            <span class="checkBox">
                                <input type="checkbox" formControlName="btActive" [disabled]="disabled" />
                                <span class="active">Active</span>
                            </span>
                        </div>
                        <div class="submit mt-2">
                            <button class="btn btn-primary" type="submit"
                                [disabled]="countryMasterForm.invalid">{{formType}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<mat-divider></mat-divider>


<div class="country-table">
    <table datatable class="ui celled table table-striped dt-responsive nowrap " style="width:100%"
        [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th class="no-sort" style="background-image: none !important;">#</th>
                <th style="background-image: none !important;">Country Name</th>
                <th style="background-image: none !important;">Country Prefix</th>
                <th style="background-image: none !important;">Country PSTN Code</th>
                <th class="no-sort" style="background-image: none !important;">Status</th>
                <th class="no-sort" style="background-image: none !important;">Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of countryList; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.vCountryName}}</td>
                <td>{{item.vCountryPrefix}}</td>
                <td>{{item.vCountryPSTNCode}}</td>
                <td><input [checked]=item.btActive type="checkbox" [disabled]="disabled" /></td>
                <td>
                    <span (click)="editClick(templateCountryMaster, item.nCountryId)"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>