@import '../../../SignUp//customer-signup//customer-signup.component.scss';
.mat-divider {
    margin-top: 2px;
    margin-bottom: 12px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ma-input-50_percent{
    width: 24%;
    position: relative;
    @media screen and (max-width: 480px) {
        width: 100% !important;
        // margin-bottom: 10px;
    }
}
.otp_send {
    position: absolute;
    right: 7px;
    top: 17px;
}
.checkIcon-otp {
    position: absolute;
    top: 20px;
    right: 7px;
}