<!-- <div class="loader" *ngIf="loader">
    <div class="loading">
        <img src="../../../../assets/loaderlogo/watermark_logo.gif" alt="">
    </div>
</div> -->
<!-- <div class="family-head">
    <span>{{pageTitle}}</span>
</div> -->
<!-- <mat-divider></mat-divider> -->
<!-- <form [formGroup]="myNoteForm">
    <div class="input-box">
        <div class="input-group input-group-1">
        </div>
        <div class="input-group input-group-1">
        </div>
        <div class="input-group input-group-1">
            <input type="text" formControlName="txtSearch" placeholder="Search..." />
            <input (click)="searchPastConsultation()" value="Search" type="button" formControlName="btnSearch" />
        </div>
    </div>
</form>
<mat-divider></mat-divider> -->

<div class="loader" *ngIf="loader">
  <div class="center-loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div class="family-head">
  <span>{{pageTitle}}</span>
</div>
<mat-divider></mat-divider>
<div class="new-table">
  <table datatable class="ui celled table table-striped dt-responsive nowrap " style="width:100%"
    [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th class="no-sort" style="background-image: none !important;">#</th>
        <th class="no-sort" style="background-image: none !important;">Is Supervisor </th>
        <th class="no-sort" style="background-image: none !important;">Edit</th>
        <th class="no-sort" style="background-image: none !important;">Diver Location</th>

        <th class="no-sort" style="background-image: none !important;">Driver Id</th>
        <th class="no-sort" style="background-image: none !important;">Registration Date </th>

        <th class="no-sort" style="background-image: none !important;">Full Name</th>
        <th class="no-sort" style="background-image: none !important;">City Details</th>
        <th class="no-sort" style="background-image: none !important;">Alternate No.</th>

        <!-- <th class="no-sort" style="background-image: none !important;">Mobile No.</th>
                <th class="no-sort" style="background-image: none !important;">Email Id</th> -->
        <th class="no-sort" style="background-image: none !important;">Gender</th>
        <th class="no-sort" style="background-image: none !important;">DOB</th>
        <th class="no-sort" style="background-image: none !important;">Vehicle Type</th>

        <th class="no-sort" style="background-image: none !important;">Present Address</th>
        <th class="no-sort" style="background-image: none !important;">Permanent Address</th>
        <th class="no-sort" style="background-image: none !important;">License / Registration No.</th>
        <th class="no-sort" style="background-image: none !important;">License File</th>
        <th class="no-sort" style="background-image: none !important;">Aadhaar No.</th>
        <th class="no-sort" style="background-image: none !important;">Aadhaar File</th>
        <th class="no-sort" style="background-image: none !important;">PAN No.</th>
        <th class="no-sort" style="background-image: none !important;">PAN File</th>
        <th class="no-sort" style="background-image: none !important;">Vehicle Registration No.</th>
        <th class="no-sort" style="background-image: none !important;">VehicleRegistration File</th>
        <th class="no-sort" style="background-image: none !important;">VehicleInsurance File</th>

        <th class="no-sort" style="background-image: none !important;">Photo</th>
        <!-- <th class="no-sort" style="background-image: none !important;">Is Active </th> -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let items of userDetailList; let i = index ">
        <td>{{i+1}}</td>
        <td>
          <span style="background: green;padding: 2px 8px;color: #fff;cursor: pointer;border-radius: 5px;" *ngIf="items.btSupervisor==false" (click)="activateConfirmationModel(templateActivateConformationModel,items.nUserId,items.btSupervisor)">Active</span>
          <span style="background: red;padding: 2px 8px;color: #fff;cursor: pointer;border-radius: 5px;" *ngIf="items.btSupervisor==true"(click)="activateConfirmationModel(templateActivateConformationModel,items.nUserId,items.btSupervisor)">Inactive</span>
        </td>
        <td>
          <span (click)="editClick(templateCountryMaster, items,items.nDriverId)"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
              viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </span>
        </td>
        <td><span (click)="openmap(templatemap,items.nDriverId)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
        </span></td>
        <td>{{items.vDriverId}}</td>
        <td>{{items.RegistrationDate}}</td>
        <td>{{items.DriverDetails}}</td>
        <td>{{items.CityDetails}}</td>
        <td>{{items.vAlternateNo}}</td>

        <!-- <td>{{items.vMobileNo}}</td>
                <td>{{items.vEmailId}}</td> -->
        <td>{{items.vGender}}</td>
        <td>{{items.DOB}}</td>
        <td>{{items.vVehicleType}}</td>

        <td>{{items.vPresentAddress}}</td>
        <td>{{items.vPermanentAddress}}</td>
        <td>{{items.vLicenseNo}}</td>
        <td>
          <a *ngIf="items.vLicenseNoFilePath!=null" [attr.href]="imageUrl + '/'+ items.vLicenseNoFilePath"
            target="_blank">License Copy</a>
        </td>
        <td>{{items.vAadhaarNo}}</td>
        <td>
          <a *ngIf="items.vVehicleInsuranceFilePath!=null" [attr.href]="imageUrl + '/'+ items.vAadhaarNoFilePath"
            target="_blank">Aadhaar Copy</a>
        </td>
        <td>{{items.vPANNo}}</td>
        <td>
          <a *ngIf="items.vVehicleInsuranceFilePath!=null" [attr.href]="imageUrl + '/'+ items.vPANNoFilePath"
            target="_blank">PAN Card Copy</a>
        </td>
        <td>{{items.vVehicleRegistrationNo}}</td>
        <td>
          <a *ngIf="items.vVehicleInsuranceFilePath!=null"
            [attr.href]="imageUrl + '/'+ items.vVehicleRegistrationNoFilePath" target="_blank">Vehicle Registration File
            Copy</a>
        </td>


        <td>
          <a *ngIf="items.vVehicleInsuranceFilePath!=null" [href]="imageUrl + '/'+ items.vVehicleInsuranceFilePath"
            target="_blank">Vehicle Insurance File Copy</a>
        </td>
        <td>
          <a *ngIf="items.vPhotoFilePath!=null" [href]="imageUrl + '/'+ items.vPhotoFilePath" target="_blank">Profile
            Photo</a>
        </td>
        <!-- <td><input [checked]=items.btIsActive type="checkbox" [disabled]="disabled" /></td> -->

      </tr>

    </tbody>
  </table>
</div>

<ng-template #templateActivateConformationModel>
  <div class="country-edit-model">
    <div class="model-header">
      <h1 style="margin-bottom: 0;" mat-dialog-title >ALERT !!</h1>
      <button type="button" class="close-btn pull-right" aria-label="Close" (click)="conformaitonmodalRef.hide()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div mat-dialog-content>
    <p class="confirm-text" style="text-align: center;" *ngIf="PracticeWithDrome">Do you want to Revoke
      ??</p>
    <p class="confirm-text" style="text-align: center;" *ngIf="!PracticeWithDrome">Do you want to
      Activate ??</p>
  </div>
  <mat-divider></mat-divider>
  <div class="confirm-btn mt-3">
    <button (click)="activateDoctor()" type="button">Ok</button>
    <button (click)="modelCencelBtn()" type="button">Cancel</button>
  </div>
</ng-template>

<ng-template #templateCountryMaster>

  <div class="country-edit-model">

    <div class="model-header">
      <h1></h1>
      <button type="button" class="close-btn pull-right" aria-label="Close" (click)="modalRef.hide()">
        <mat-icon>close</mat-icon>
      </button>

    </div>
    <div class="signup-head">
      <h2>{{ModalTitle}}</h2>
    </div>

    <div mat-dialog-content>
      <div class="country-form">

        <div class="container-xl">

          <div class="form-box">

            <form [formGroup]="driverSignupForm" action="">

              <div>

                <div class="date-and-mob">
                  <!--    full name(S)    -->
                  <div class="ma-input-24">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Full Name <span style="color: red;">*</span></mat-label>
                      <input formControlName="vFullName" matInput placeholder="Enter Full Name" type="text"
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vFullName.invalid && (createdriverSignupFormControls.vFullName.dirty || createdriverSignupFormControls.vFullName.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vFullName.invalid && (createdriverSignupFormControls.vFullName.dirty || createdriverSignupFormControls.vFullName.touched)">
                        Please enter Full Name *
                      </div>
                    </mat-form-field>
                  </div>
                  <!--    full name(E)    -->

                  <!--    dob driver(S)    -->
                  <div class="ma-input-24">
                    <mat-form-field appearance="outline">
                      <mat-label>DOB <span style="color: red;">*</span></mat-label>
                      <input formControlName="dtDOB" mask="d0-M0-0000" [max]="maxDate" matInput
                        [matDatepicker]="picker1" placeholder="Enter DOB">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <!--    dob driver(E)    -->

                  <div class="ma-input-24">
                    <mat-form-field appearance="outline">
                      <mat-label>Gender <span style="color: red;">*</span></mat-label>
                      <mat-select formControlName="vGender">
                        <mat-option value="null" [disabled]="true">Select Gender</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                        <mat-option value="Others">Others</mat-option>
                        <mat-option value="Prefer not to say">Prefer not to say</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="ma-input-24">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Alternate No. <span style="color: red;">*</span></mat-label>
                      <input formControlName="vAlternateNo" matInput placeholder="Enter Alternate No." type="text"
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vAlternateNo.invalid && (createdriverSignupFormControls.vAlternateNo.dirty || createdriverSignupFormControls.vAlternateNo.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vAlternateNo.invalid && (createdriverSignupFormControls.vAlternateNo.dirty || createdriverSignupFormControls.vAlternateNo.touched)">
                        Please enter Alternate No. *
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="ma-input-33" style="width: 40.2%;">

                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Select City <span style="color: red;">*</span></mat-label>
                      <input id="txtcitySearch" matInput [(ngModel)]="selectedCity" [matAutocomplete]="auto"
                        [formControl]="searchCityCtrl" (keyup)="clearSelection($event)">
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()"
                        [displayWith]="displayWith">
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <mat-option *ngIf="!isLoading && cityMasterList.length==0" class="is-loading">Record not found
                        </mat-option>
                        <ng-container *ngIf="!isLoading">
                          <mat-option *ngFor="let city of cityMasterList" [value]="city">
                            <span>{{city.CityStateDetails}}</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
                    </mat-form-field>
                    <div class="available" style="color: red;" *ngIf="errorCityTxt">
                      <span>Please Select City.</span>
                    </div>
                  </div>
                  <div class="ma-input-24">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Aadhaar No. <span style="color: red;">*</span></mat-label>
                      <input formControlName="vAadhaarNo" style="width: 80%;" matInput placeholder="Enter Aadhaar No."
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vAadhaarNo.invalid && (createdriverSignupFormControls.vAadhaarNo.dirty || createdriverSignupFormControls.vAadhaarNo.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vAadhaarNo.invalid && (createdriverSignupFormControls.vAadhaarNo.dirty || createdriverSignupFormControls.vAadhaarNo.touched)">
                        Please enter Aadhaar No.*
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="ma-input-image-adhar-driver">
                    <mat-label [ngClass]="{'dynamicchange': ifSelect1}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">Aadhar
                      File <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="urlLink !='false'" style="font-size: 10px;">
                        <a title={{fileName}} [attr.href]="urlLink" target="_blank">{{fileNameAadhar}}</a>
                      </div>
                      <div class="file-name" *ngIf="urlLink =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="selectedFileBLOB">{{fileNameSlice}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vAadhaarNoFilePath" type="file" (change)="selectFiles($event)"
                          style="display: none;" #files>
                      </span>
                    </div>
                  </div>
                  <div class="ma-input-33" style="width: 100%;">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Present Address <span style="color: red;">*</span></mat-label>
                      <input formControlName="vPresentAddress" matInput placeholder="Enter Present Address" type="text"
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vPresentAddress.invalid && (createdriverSignupFormControls.vPresentAddress.dirty || createdriverSignupFormControls.vPresentAddress.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vPresentAddress.invalid && (createdriverSignupFormControls.vPresentAddress.dirty || createdriverSignupFormControls.vPresentAddress.touched)">
                        Please enter Present Address *
                      </div>
                    </mat-form-field>
                  </div>

                  <div class="ma-input-33" style="width: 100%;">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Permanent Address <span style="color: red;">*</span></mat-label>
                      <input formControlName="vPermanentAddress" matInput placeholder="Enter Permanent Address"
                        type="text"
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vPermanentAddress.invalid && (createdriverSignupFormControls.vPermanentAddress.dirty || createdriverSignupFormControls.vPermanentAddress.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vPermanentAddress.invalid && (createdriverSignupFormControls.vPermanentAddress.dirty || createdriverSignupFormControls.vPermanentAddress.touched)">
                        Please enter Permanent Address *
                      </div>
                    </mat-form-field>
                  </div>




                  <div class="ma-input-33">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>PAN No. <span style="color: red;">*</span></mat-label>
                      <input formControlName="vPANNo" style="width: 80%;" matInput placeholder="PAN Card"
                        [ngClass]="{'is-invalid' : createdriverSignupFormControls.vPANNo.invalid && (createdriverSignupFormControls.vPANNo.dirty || createdriverSignupFormControls.vPANNo.touched)}">
                      <div class="invalid-tooltip"
                        *ngIf="createdriverSignupFormControls.vPANNo.invalid && (createdriverSignupFormControls.vPANNo.dirty || createdriverSignupFormControls.vPANNo.touched)">
                        Please enter PAN No. *
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="ma-input-image-adhar-driver">

                    <mat-label [ngClass]="{'dynamicchange': ifSelect2}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">PAN
                      Card <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="LogoUrlLink !='false'" style="font-size: 10px;">
                        <a title={{LogoFileName}} [attr.href]="LogoUrlLink" target="_blank">{{fileNamePAN}}</a>
                      </div>

                      <div class="file-name" *ngIf="LogoUrlLink =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="LogoSelectedFileBLOB">{{LogoFileNameSlice}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files2.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vPANNoFilePath" type="file" (change)="selectLogoFiles($event)"
                          style="display: none;" #files2>
                      </span>
                    </div>
                  </div>
                  <div class="ma-input-33">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>License No. <span style="color: red;">*</span></mat-label>
                      <input formControlName="vLicenseNo" style="width: 80%;" matInput placeholder="Enter LIcense No.">
                    </mat-form-field>
                  </div>
                  <div class="ma-input-image-adhar-driver">
                    <mat-label [ngClass]="{'dynamicchange': ifSelect4}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">
                      License <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="LicenseUrlLink !='false'" style="font-size: 10px;">
                        <a title={{LicenseFileName}} [attr.href]="LicenseUrlLink"
                          target="_blank">{{fileNameLicense}}</a>
                      </div>
                      <div class="file-name" *ngIf="LicenseUrlLink =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="LicenseSelectedFileBLOB">{{LicenseFileNameSlice}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files4.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vLicenseNoFilePath" type="file"
                          (change)="selectLicensePhotoFiles($event)" style="display: none;" #files4>
                      </span>
                    </div>
                  </div>
                  <div class="ma-input-33">
                    <mat-form-field appearance="outline">
                      <mat-label>Select Vehicle Type <span style="color: red;">*</span></mat-label>
                      <mat-select formControlName="nVId">
                        <mat-option [value]="item.nVId" *ngFor="let item of vehicleTypeMaster">{{item.vVehicleType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="ma-input-33">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Vehicle Registration No. <span style="color: red;">*</span></mat-label>
                      <input style="width: 80%;" matInput formControlName="vVehicleRegistrationNo"
                        placeholder="Enter Vehicle Registration No.">
                    </mat-form-field>
                  </div>
                  <div class="ma-input-image-adhar-driver">
                    <mat-label [ngClass]="{'dynamicchange': ifSelect5}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">
                      Vehicle Registration <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="urlLink5 !='false'" style="font-size: 10px;">
                        <a title={{fileName5}} [attr.href]="urlLink5"
                          target="_blank">{{fileNameVehicleRegistration}}</a>
                      </div>
                      <div class="file-name" *ngIf="urlLink5 =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="selectedFileBLOB5">{{fileNameSlice5}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files5.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vVehicleRegistrationNoFilePath" type="file"
                          (change)="selectFilesRegistration($event)" style="display: none;" #files5>
                      </span>
                    </div>
                  </div>

                  <div class="ma-input-image-adhar-driver">
                    <mat-label [ngClass]="{'dynamicchange': ifSelect6}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">
                      Vehicle Insurance <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="LogoUrlLink6 !='false'" style="font-size: 10px;">
                        <a title={{LogoFileName6}} [attr.href]="LogoUrlLink6"
                          target="_blank">{{fileNameVehicleInsurance}}</a>
                      </div>
                      <div class="file-name" *ngIf="LogoUrlLink6 =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="LogoSelectedFileBLOB6">{{LogoFileNameSlice6}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files6.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vVehicleInsuranceFilePath" type="file"
                          (change)="selectFilesInsurance($event)" style="display: none;" #files6>
                      </span>
                    </div>
                  </div>

                  <div class="ma-input-image-adhar-driver">
                    <mat-label [ngClass]="{'dynamicchange': ifSelect3}"
                      style="color: #6c757d;font-weight: 300;font-size: 15px;">
                      Profile Photo <span style="color: red;">*</span>
                    </mat-label>
                    <div class="aadhar-file">
                      <div class="file-name" *ngIf="LicenseUrlLink3 !='false'" style="font-size: 10px;">
                        <a title={{LicenseFileName3}} [attr.href]="LicenseUrlLink3"
                          target="_blank">{{fileNameProfilePhoto}}</a>
                      </div>
                      <div class="file-name" *ngIf="LicenseUrlLink3 =='false'" style="font-size: 10px;">
                        <a target="_blank" [attr.href]="LicenseSelectedFileBLOB3">{{LicenseFileName3}}</a>
                      </div>
                    </div>
                    <div class="image-chose">
                      <button type="button" (click)="files7.click()" class="img-uplod-btn">Choose</button>
                      <span>
                        <input formControlName="vPhotoFilePath" type="file" (change)="selectFilesPhoto($event)"
                          style="display: none;" #files7>
                      </span>
                    </div>
                  </div>
                  <div class="ma-input-33">
                    <!-- <mat-form-field style="width: 100%;" appearance="outline">
                                                <mat-label>Vehicle Registration No. <span style="color: red;">*</span></mat-label>
                                                <input style="width: 80%;" matInput formControlName="vVehicleRegistrationNo"
                                                    placeholder="Enter Vehicle Registration No.">
                                            </mat-form-field> -->
                  </div>
                </div>




                <div class="date-and-mob-email-id">

                  <div class="ma-input-48">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Mobile Number <span style="color: red;">*</span></mat-label>
                      <input (keyup)="onUserNameKeyUpEvent($event)" #searchInput maxlength="10" matInput
                        formControlName="vMobileNo" placeholder="Enter Mobile Number" type="number"
                       >
                    </mat-form-field>



                  </div>
                  <div class="ma-input-48">
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Email Id <span style="color: red;">*</span></mat-label>
                      <input  formControlName="vEmailId" matInput placeholder="Enter Email Id" type="text" 
                        (keyup)="emailvalidate($event)">
                    </mat-form-field>



                  </div>



                </div>


              </div>
            

              <div class="submit">
                  <div class="btnLoader" *ngIf="btnLoader">
                    <div class="lds-ring-driver">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                <div class="log-in-btn"  *ngIf="!btnLoader">
                  <button class="enable-btn-gray" (click)="onSubmitCountryMasterForm()"
                    [disabled]="driverSignupForm.invalid " type="button">
                    Submit
                  </button>
                </div>
              </div>



            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #templatemap>
  <div class="country-edit-model">
    <div class="model-header">
      <button type="button" class="close-btn pull-right" aria-label="Close" (click)="closeDriverTrackingModel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <google-map height="700px"
            width="1000px"
            [center]="center"
            
            >
            <!-- <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
               </map-marker>
  > -->
  <map-marker [position]="markerPos"></map-marker>
 
</google-map>
  </div>
  
</ng-template>